@import "tailwindcss";

@theme {
    --color-dark-grey: #1f1f1f;
    --color-neon-green: #c4f82a;

    --font-inter: "Inter";

    --text-base-dynamic: max(1vw, 16px);
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/inter/Inter-VariableFont_slnt,wght.ttf");
}
